<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net47" />
  <package id="Serilog" version="2.9.0" targetFramework="net47" />
  <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="net47" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.2" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net47" />
</packages>